<h1 align="center"> Python Basics</h1>

# 1. Introductory Notes

**Note:** For the purposes of this course, "Data Science and Cloud Solutions for Start-ups", this notebook has been adapted from material created by [Michael Galarny](https://github.com/mGalarnyk)

## Table of Contents

* Installing Python (Anaconda)
* Hello World!
* String Manipulation
* Simple Math
* if elif else
* for loops
* Testing your Knowledge (practice tasks)

## Why Python

Python is Open Source (Free). Lots of people from around the world are continually improving python. Used worldwide at top tier companies (youtube, google, yelp, etc) <br>

Especially for our use case in this course it is very useful as we will be able to use it for a lot of purposes when working with the cloud. Through the use of other packages like the flask package, we can easily create websites or our own APIs without having to know much about HTML or other web development languages

## Why IPython/Jupyter

The IPython Notebook is another popular package — “a coder's lab notebook” — that allows users to interleave data, code and explanatory text in a single browser-based page, rather than in separate files

List of Notebook shortcuts: https://www.cheatography.com/weidadeyue/cheat-sheets/jupyter-notebook/pdf_bw/

### Install Anaconda
If you don't have python installed, please see the blog post or youtube video for your operating system (Mac, Windows Ubuntu)

Operating System | Blog Post | Youtube Video
--- | --- | ---
Mac | [Install Anaconda on Mac](https://medium.com/@GalarnykMichael/install-python-on-mac-anaconda-ccd9f2014072#.lvhw2gt3k "Install Anaconda on Mac") | [Youtube Video](https://www.youtube.com/watch?v=B6d5LrA8bNE "Youtube Video")
Ubuntu | [Install Anaconda on Ubuntu](https://medium.com/@GalarnykMichael/install-python-on-ubuntu-anaconda-65623042cb5a#.4kwsp0wjl "Install Anaconda on Ubuntu") | [Youtube Video](https://www.youtube.com/watch?v=jo4RMiM-ihs "Youtube Video")
Windows | [Install Anaconda on Windows](https://medium.com/@GalarnykMichael/install-python-on-windows-anaconda-c63c7c3d1444#.66f7y3whf "Install Anaconda on Windows") | [Youtube Video](https://www.youtube.com/watch?v=dgjEUcccRwM "Youtube Video")

### Install Atom 
Atom is a code editor with additional functionalities built in like automatic code completion, direct execution, as well as chunk-by-chunk code execution.

You can download Atom here: [https://atom.io](https://atom.io)

I recommend installing following extensions in atom:
* Hydrogen --> allows you to execute code by chunks
* Kite --> auto-completes your code 

Check out this youtube video on configuring Atom, if things dont appear as straight-forward:
https://youtu.be/DjEuROpsvp4

# 2. First steps in Python

## Basic Types

The main basic data types in python are numbers (ints and floats), booleans and strings.

### Hello World!
alphanumeric characters in quotations

In [19]:
# This is a one line comment
# Strings can be enclosed by ',", or """
print('Hello World!')

Hello World!

In [21]:
# \ is used as a escape character. 
# There are many special escape sequences
# Notable are: \t (tab)
#             \n (new line)

In [22]:
print("The \n makes a new line")

The
 makes a new line

In [23]:
print("The \t is a tab")

The 	 is a tab

In [25]:
# Using \ to not accidently close the string by having a closing "
print("This is a string enclosed by \"\" not '' ")

This is a string enclosed by "" not ''

In [26]:
# Creating a variable
# Variables are used to store information to be referenced 
# and manipulated in a computer program.

firstVariable = 'Hello World'
print(firstVariable)

Hello World

### data classes

In [ ]:
# string 
a = "hello"
print(a)
print(type(a))

# integer or int
b = 4
print(b)
print(type(b))

# float
c = 3.14159
print(type(c))

### Built-in functions:

### Minimum, Maximum, Length, and Sum of a list

In [20]:
print(min(z), max(z), len(z), sum(z))

NameError: name 'z' is not defined

### Built-in functions: String Manipulations

Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

In [27]:
# go over ? mark after if you are not sure what method does. 
print(firstVariable.lower())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

### Task 1: find out how to make a string all capitals

In [ ]:
# [your code here]

In [ ]:
# To look up what each method does
firstVariable.lower?

In [ ]:
# Can also use help
help(firstVariable.lower)

In [29]:
firstVariable.split(' ')

['Hello', 'World']

In [30]:
a=firstVariable.split(' ')
a

['Hello', 'World']

In [31]:
' '.join(a)

'Hello World'

In [1]:
"no way josé".replace("é","e")

'no way jose'

In [3]:
"hello hello".replace("e","a")

'hallo hallo'

### task 2: only replace the first "e" in the string

In [5]:
# [your code here]
"hello hello"

'hallo hallo'

In [32]:
print("0" + "1")

01

In [33]:
"0" * 3

'000'

In [6]:
# You can add strings together. 
"mambo" + "jambo"

'mambojambo'

# 3. Simple Math

There are four distinct numeric types: plain integers, long integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of plain integers.

In [138]:
# Addition, add two int together
1+1

2

In [139]:
# if one of the operands is a float, the result is a float.
130-2.0

128.0

In [140]:
130-2

128

In [141]:
# integer division
130/2

65.0

In [142]:
130.0/2

65.0

In [143]:
# Multiplication
2*3

6

In [144]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [145]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
9%3

0

### Task 4: what data type do we get when we multiply a integer with a float?

In [8]:
# [your code here]

# 4. Data types

## 4.1 Dictionaries

Dictionaries are unordered data structures that map keys into values. The value can be anything (lists, functions, strings, anything). The key has to be immutable, for example, numbers, strings or tuples.

## Example
dictionary: word we look up is key, look up is definition (value)

In [10]:
# Defining a dictionary
webstersDict = {'person': 'a human being, whether an adult or child', 'marathon': 'a running race that is about 26 miles', 'resist': ' to remain strong against the force or effect of (something)', 'run': 'to move with haste; act quickly'}

In [11]:
webstersDict

{'person': 'a human being, whether an adult or child',
 'marathon': 'a running race that is about 26 miles',
 'resist': ' to remain strong against the force or effect of (something)',
 'run': 'to move with haste; act quickly'}

## Accessing Values in a Dictionary

In [12]:
# Finding out the meaning of the word marathon
# dictionary[key]
webstersDict['marathon']

'a running race that is about 26 miles'

## Updating Dictionary

In [13]:
# add one new key value pair to dictionary
webstersDict['shoe'] = 'an external covering for the human foot'

# return the value for the 'shoe' key
webstersDict['shoe']

'an external covering for the human foot'

In [14]:
webstersDict["horse"] = "A large plant-eating domesticated mammal with solid hoofs and a flowing mane and tail,"
webstersDict

{'person': 'a human being, whether an adult or child',
 'marathon': 'a running race that is about 26 miles',
 'resist': ' to remain strong against the force or effect of (something)',
 'run': 'to move with haste; act quickly',
 'shoe': 'an external covering for the human foot',
 'horse': 'A large plant-eating domesticated mammal with solid hoofs and a flowing mane and tail,'}

In [15]:
# update method, update or add more than key value pair at a time 
webstersDict.update({'shirt': 'a long- or short-sleeved garment for the upper part of the body'
                     , 'shoe': 'an external covering for the human foot, usually of leather and consisting of a more or less stiff or heavy sole and a lighter upper part ending a short distance above, at, or below the ankle.'})
webstersDict

{'person': 'a human being, whether an adult or child',
 'marathon': 'a running race that is about 26 miles',
 'resist': ' to remain strong against the force or effect of (something)',
 'run': 'to move with haste; act quickly',
 'shoe': 'an external covering for the human foot, usually of leather and consisting of a more or less stiff or heavy sole and a lighter upper part ending a short distance above, at, or below the ankle.',
 'horse': 'A large plant-eating domesticated mammal with solid hoofs and a flowing mane and tail,',
 'shirt': 'a long- or short-sleeved garment for the upper part of the body'}

In [116]:
# Removing key from dictionary
del webstersDict['resist']
webstersDict

{'marathon': 'a running race that is about 26 miles',
 'person': 'a human being, whether an adult or child',
 'run': 'to move with haste; act quickly',
 'shirt': 'a long- or short-sleeved garment for the upper part of the body',
 'shoe': 'an external covering for the human foot, usually of leather and consisting of a more or less stiff or heavy sole and a lighter upper part ending a short distance above, at, or below the ankle.'}

In [16]:
# we can also delete 'normal' variables
a = "hello"
print(a)
del a
print(a)

hello

NameError: name 'a' is not defined

## Not Everything can Be Used as a Key

Only immutable objects can be used as keys. Lists cannot be used as keys, but tuples, numbers, and strings can.

In [117]:
webstersDict[['sock']] = 'a short stocking usually reaching to the calf or just above the ankle.'

TypeError: unhashable type: 'list'

## Returning Values for a Given Key using the get() Method

You will see why this is so valuable in the word count task

In [118]:
# incorporate into get example and such below. 
storyCount = {'is': 100, 'the': 90, 'Michael': 12, 'runs': 5}

In [119]:
storyCount

{'Michael': 12, 'is': 100, 'runs': 5, 'the': 90}

In [120]:
# key error for keys that do not exist
storyCount['run']

KeyError: 'run'

In [121]:
# if key doesnt exist, 
# specify default value for keys that dont exist. 
# returns value for key you enter if it is in dictionary
# else it returns the value you have for default
storyCount.get('Michael', 0)

12

In [122]:
# When you dont set default value for key that doesnt exist, 
# it defaults to none
print(storyCount.get('run'))

None

In [123]:
# Making default value for key that doesn't exist 0. 
print(storyCount.get('run', 0))

0

## Remove key, but also return the Value

In [124]:
count = storyCount.pop('the')
print(count)

90

## Iterating through Dictionaries

In [125]:
# return keys in dictionary
print(storyCount.keys())

# return values in dictionary
print(storyCount.values())

['is', 'runs', 'Michael']
[100, 5, 12]

In [126]:
# iterate through keys
for key in storyCount: 
    print(key)

is
runs
Michael

In [127]:
# iterate through keys and values
for key, value in webstersDict.items():
    print(key, value)

('person', 'a human being, whether an adult or child')
('run', 'to move with haste; act quickly')
('shoe', 'an external covering for the human foot, usually of leather and consisting of a more or less stiff or heavy sole and a lighter upper part ending a short distance above, at, or below the ankle.')
('marathon', 'a running race that is about 26 miles')
('shirt', 'a long- or short-sleeved garment for the upper part of the body')

## 4.2 Lists

Lists are written within square brackets [ ]

In [2]:
# Defining a list
z = [3, 7, 4, 2]

### Accessing Values in List

In [3]:
# The first element of a list is at index 0
z[0]

3

In [4]:
z[2]

4

### Task 5: How can you access the last element of a list?

In [17]:
# [Your code here]

### Slicing Lists

In [120]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

### Task 6: How can you access all elements up to 3 in a list?

In [18]:
# [Your code here]

### Count Number of Times Value is in List

In [8]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

### Return First Index of Value

In [9]:
random_list.index(4)

0

In [75]:
# you can specify where you start your search
random_list.index(4, 3)

3

In [180]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

### Sorting a list

In [21]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [16]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

### Task 7: How can we reverse source the list 'y'? (hint use a previous feature we learnt to examine a function)

In [ ]:
# [your code here]

In [20]:
# sorting list WITHOUT altering original list 
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [21]:
# notice y is unchanged
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

### Add to the End of List

In [22]:
x

[11, 10, 8, 7, 4, 3, 2]

In [23]:
x.append(3)
print(x)

[11, 10, 8, 7, 4, 3, 2, 3]

### Remove First Occurence of Value in List

In [24]:
x.remove(10)
print(x)

[11, 8, 7, 4, 3, 2, 3]

### Remove Item at the Index you Provide

In [25]:
# List before you remove an item
print(x)

[11, 8, 7, 4, 3, 2, 3]

In [26]:
# Remove item at the index
# this function will also return the item you removed from the list
# Default is the last index
x.pop(3)

4

In [27]:
print(x)

[11, 8, 7, 3, 2, 3]

### Extend (Useful for Concatenating Lists)

Extend list by appending elements (iterable)

In [28]:
x.extend([4, 5])

In [29]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

You can also use + for concatenating lists

In [195]:
# lists can be diverse, each element in the list can be of a different type.
# lists are really list of pointers, and these pointers can 
# point to anything.

# Concatenating Lists
print('x+y=',x+y)

x+y= [11, 8, 7, 3, 2, 3, 4, 5, 'Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

### Insert Item before the Index you Provide

In [30]:
x

[11, 8, 7, 3, 2, 3, 4, 5]

In [197]:
x.insert(4, [4, 5])

## 4.3 Tuples

## Tuple Unpacking

Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed (immutable) unlike lists (mutable). <br> Tuples use parentheses, whereas lists use square brackets.

# Initialize a Tuple

There are two ways to initialize an empty tuple. You can initialize an empty tuple by having () with no values in them.

In [69]:
# Way 1
emptyTuple = ()

You can also initialize an empty tuple by using the <b>tuple</b> function.

In [70]:
# Way 2
emptyTuple = tuple()

A tuple with values can be initialized by making a sequence of values separated by commas.

In [72]:
# way 1
z = (3, 7, 4, 2)

# way 2 (tuples can also can be created without parenthesis)
z = 3, 7, 4, 2

It is important to keep in mind that if you want to create a tuple containing only one value, you need a trailing comma after your item.

In [73]:
# tuple with one value
tup1 = ('Michael',)

# tuple with one value
tup2 = 'Michael', 

# This is a string, NOT a tuple.
notTuple = ('Michael')

# Accessing Values in Tuples

Each value in a tuple has an assigned index value. It is important to note that python is a zero indexed based language. All this means is that the first value in the tuple  is at index 0.

In [75]:
# Initialize a tuple
z = (3, 7, 4, 2)

# Access the first item of a tuple at index 0
print(z[0])

3

Python also supports negative indexing. Negative indexing starts from the end of the tuple. It can sometimes be more convenient to use negative indexing to get the last item in a tuple because you don't have to know the length of a tuple to access the last item.

In [76]:
# print last item in the tuple
print(z[-1])

2

As a reminder, you could also access the same item using positive indexes (as seen below).

In [77]:
print(z[3])

2

# Tuple slices

Slice operations return a new tuple containing the requested items. Slices are good for getting a subset of values in your tuple. For the example code below, it will return a tuple with the items from index 0 up to and not including index 2.

In [78]:
# Initialize a tuple
z = (3, 7, 4, 2)

# first index is inclusive (before the :) and last (after the :) is not.
print(z[0:2])

(3, 7)

In [80]:
# everything up to but not including index 3
print(z[:3])

(3, 7, 4)

You can even make slices with negative indexes.

In [81]:
print(z[-4:-1])

(3, 7, 4)

# Tuples are Immutable

Tuples are immutable which means that after initializing a tuple, it is impossible to update individual items in a tuple. As you can see in the code below, you cannot update or change the values of tuple items (this is different from [Python Lists](https://hackernoon.com/python-basics-6-lists-and-list-manipulation-a56be62b1f95) which are mutable).

In [83]:
z = (3, 7, 4, 2)

z[1] = "fish"

TypeError: 'tuple' object does not support item assignment

Even though tuples are immutable, it is possible to take portions of existing tuples to create new tuples as the following example demonstrates.

In [85]:
# Initialize tuple
tup1 = ('Python', 'SQL')

# Initialize another Tuple
tup2 = ('R',)

# Create new tuple based on existing tuples
new_tuple = tup1 + tup2;
print(new_tuple)

('Python', 'SQL', 'R')

# Tuple Methods

Before starting this section, let's first initialize a tuple.

In [86]:
# Initialize a tuple
animals = ('lama', 'sheep', 'lama', 48)

## index method

The index method returns the first index at which a value occurs.

In [87]:
print(animals.index('lama'))

0

## count method

The count method returns the number of times a value occurs in a tuple.

In [88]:
print(animals.count('lama'))

2

# Iterate through a Tuple

You can iterate through the items of a tuple by using a for loop.

In [89]:
for item in ('lama', 'sheep', 'lama', 48):
    print(item)

lama
sheep
lama
48

# Tuple Unpacking

Tuples are useful for sequence unpacking.

In [91]:
x, y = (7, 10);
print("Value of x is {}, the value of y is {}.".format(x, y))

Value of x is 7, the value of y is 10.

# Advantages of Tuples over Lists

Lists and tuples are standard Python data types that store values in a sequence. A tuple is <b>immutable</b> whereas a list is <b>mutable</b>. Here are some other advantages of tuples over lists (partially from [Stack Overflow](https://stackoverflow.com/questions/1708510/python-list-vs-tuple-when-to-use-each))

<b>Tuples are faster than lists</b>. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list. The performance difference can be partially measured using the timeit library which allows you to time your Python code. The code below runs the code for each approach 1 million times and outputs the overall time it took in seconds.

In [96]:
import timeit 
print('Tuple time: ', timeit.timeit('x=(1,2,3,4,5,6,7,8,9,10,11,12)', number=1000000))
print('List time: ', timeit.timeit('x=[1,2,3,4,5,6,7,8,9,10,11,12]', number=1000000))

('Tuple time: ', 0.09162306785583496)
('List time: ', 0.4425089359283447)

Some tuples can be used as dictionary keys (specifically, tuples that contain immutable values like strings, numbers, and other tuples). Lists can never be used as dictionary keys, because lists are not immutable (you can learn more about dictionaries [here](https://hackernoon.com/python-basics-10-dictionaries-and-dictionary-methods-4e9efa70f5b9)).

## Tuples can be dictionary keys

In [98]:
bigramsTupleDict = {('this', 'is'): 23,
                    ('is', 'a'): 12,
                    ('a', 'sentence'): 2}

print(bigramsTupleDict)

{('is', 'a'): 12, ('this', 'is'): 23, ('a', 'sentence'): 2}

## Lists can NOT be dictionary keys

In [99]:
bigramsListDict = {['this', 'is']: 23,
                   ['is', 'a']: 12,
                   ['a', 'sentence']: 2}

print(bigramsListDict)

TypeError: unhashable type: 'list'

# 5. Logical structures (if-clauses and loops)

## 5.1 if statements

Comparison Operator | Function
--- | --- 
< | less than
<= | less than or equal to
> | greater than
>= | greater than or equal to
== | equal
!= | not equal

check if something is True, if it is, do it. If it is not True (False), don't do it<br>

In [146]:
# Notice you have to indent after you start a if statement. 
num = 3
if num == 3: 
    print(num)

3

In [147]:
# Nothing is outputted because num > 10 is FALSE
num = 3
if num > 10:
    print(num)

In [148]:
num = 3
if num % 3 == 0:
    print("Fizz")

Fizz

In [149]:
num = 10
if num % 5 == 0:
    print("Buzz")

Buzz

In [150]:
if True:
    print("This was True")

This was True

In [151]:
if False: 
    print("Nothing printed")

Logical Operator | Description
--- | ---
and | If both the operands are True then condition becomes True.
or | If any of the two operands are True then condition becomes True. 
not | Used to reverse the logical (not False becomes True, not True becomes False)

In [152]:
num = 4
num > 0 and num  < 15

True

In [153]:
# both the conditions are true, so the num will be printed out
if num > 0 and num  < 15:
    print(num)

4

In [154]:
# num > 0 is True, num > 15 is False
# Since the first condition is True, it is True
num = 4
num > 0 or num  > 15

True

In [155]:
if num > 0 or num  > 15:
    print(num)

4

In [156]:
# or will only evaluate to False if both are False
if False or False:
    print('Nothing will print out')

In [157]:
num = 10
not num < 20

False

## else statement

Must be after an if or elif statement. There can be at most one else statement. Will only be executed if all the "if" and "elif" statements above it are False.

In [158]:
num = 1
if num > 3 :
    print("Hi")

In [159]:
"""We will execute what is inside the else statement
because num is not greater than 3
"""
num = 1
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

number is not greater than 3

In [160]:
"""We will execute what is inside the if statement because num > 4"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

<b>Task</b>

1. Assign num to an integer value. 
2. Write an if else combination that will print "Your integer is even" if the integer is even. Otherwise, print "Your integer is odd".

Hint: Any integer that can be divided exactly by 2 is an even number (examples: 2, 4, 6). Any integer that cannot be divided exactly by 2 is an odd number (examples: 1, 3, 5). Use the modulo operator (%) which returns the remainder of the division of the number to the left by the number on its right.

In [161]:
num = 3
if num % 2 == 0:
    print("Your integer is even")
else: 
    print("Your integer is odd")

Your integer is odd

## elif statement

Must be after an if statement. elif statement statement allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions evaluates to True.

Similar to the else, the elif statement is optional. However, unlike else, for which there can be at most one statement, there can be an arbitrary number of elif statements following an if.

In [162]:
num = 21
if num > 50:
    print('num is larger than 50')
elif num == 21:
    print('num = 21')
else:
    print('Catchall condition')

num = 21

In [163]:
my_num = 5
if my_num % 2 == 0:
    print("Your number is even")
elif my_num % 2 != 0:
    print("Your number is odd")
else: 
    print("Are you sure your number is an integer?")

Your number is odd

Later on in the tutorial series, we will go over simulating dice rolls and talking about the distribution

In [164]:
# You can have mulitple elif statements. 
# Remember only the first True statement has its block of code executed. 

dice_value = 1
if dice_value == 1:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 2:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 3:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 4:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 5:
    print('You rolled a {}. Great job!'.format(dice_value))
elif dice_value == 6:
    print('You rolled a {}. Great job!'.format(dice_value))
else:
    print('None of the conditions above (if elif) were evaluated as True')

You rolled a 1. Great job!

<b>Task</b>

1. Assign num to an integer value. 
2. Write a series of if, elif, else statements that will print the num you assigned. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [165]:
# Solution 1
num = 10

In [166]:
if num % 3 == 0 and num % 5 == 0:
    print('FizzBuzz')
elif num % 3 == 0:
    print('Fizz')
elif num % 5 == 0:
    print('Buzz')
else:
    print(str(num))

Buzz

In [167]:
# Solution 2
num = 15

In [168]:
"""Notice how difficult this solution is relative to Solution 1"""

string = ""
if num % 3 == 0:
    string = string + "Fizz"
if num % 5 == 0:
    string = string + "Buzz"
if num % 5 != 0 and num % 3 != 0:
    string = string + str(num)
print(string)

FizzBuzz

## 5.2 While loop

For Loop | While Loop
--- | --- 
Iterate through a certain number of values | Will just keep going until condition evaluates to False
Can leave loop using break statement | Can leave loop using break statement

if we want loop to end at some point, we have to make condition False eventually

In [49]:
# Everytime through the loop, it checks condition everytime until count is 6 
# can also use a break to break out of while loop. 
count = 0
while count <= 5:
    print(count)
    count = count + 1

0
1
2
3
4
5

## break statements 
will completely break you out of a loop

In [39]:
count = 0
while count <= 5:
    if count == 2:
        break
    count += 1
    print count

1
2
3
4
5
6
7
8

The while True condition makes it impossible to leave the loop unless you run into a break statement
<br>
if you are stuck in an infinite loop, use control + c on your computer to break out of it

In [50]:
num = 0
while True:
    if num == 2:
        print('Found 2')
        break
    num += 1
    print num

1
2
Found 2

Reminder: Use the modulo operator (%) which returns the remainder of the division of the number to the left by the number on its right.

In [20]:
# 1 divided by 5 is 0 remainder 1
1 % 5

1

In [41]:
# 5 divided by 5 is 0 remainder 0
5 % 5

0

Comparison Operator | Function
--- | --- 
< | less than
<= | less than or equal to
> | greater than
>= | greater than or equal to
== | equal
!= | not equal

In [48]:
x = 1
while x % 5 != 0:
    x += 1
    print(x)

2
3
4
5

range is useful when we know how many times we want to go through a loop
<br>
start at 0 and go up to but not including 5

In [46]:
candidates = list(range(0, 5))
candidates

[0, 1, 2, 3, 4]

In [47]:
while len(candidates) > 0: 
    first = candidates[0]
    candidates.remove(first)
    print(candidates)

[1, 2, 3, 4]
[2, 3, 4]
[3, 4]
[4]
[]

## 5.3 For Loops

For loops are a common way to iterate over the elements of an object (in this first example, a list)<br>
Any object with an iterable method can be used in a for loop.

One unique feature of python is that code blocks are NOT surrounded by {} begin,end. Instead, python uses indentation, The lines inside a block have to be indented by a tab, or by 4 spaces, relative to the surrounding commands.

While this might seem unintuitive at first, it encourages writing more readable code, over time, you'd learn to love it!

In [57]:
# The Python for statement iterates over the members of a sequence in order,
# executing the block each time. 

# take the first member of the list (iterable), call it number temporarily do something with it (print it)
# take second member of the list (iterable), call it number temporarily do something through and so on...
for number in [23, 41, 12, 16, 7]: 
    print(number)
print('Hi')

23
41
12
16
7
Hi

### Emunerate

Returns a tuple containing a count for every iteration (from start which defaults to 0) and the values obtained from iterating over sequence:

In [43]:
friends = ['steve', 'rachel', 'michael', 'adam', 'monica']
for index, friend in enumerate(friends):
    print(index,friend)

0 steve
1 rachel
2 michael
3 adam
4 monica

### Task

<b>Remove the punctuation from the text and convert the final product to a list:</b> </br>

On a dark desert highway, cool wind in my hair Warm smell of colitas, rising up through the air Up ahead in the distance, I saw a shimmering light My head grew heavy and my sight grew dim I had to stop for the night There she stood in the doorway; I heard the mission bell And I was thinking to myself, "This could be Heaven or this could be Hell" Then she lit up a candle and she showed me the way

In [62]:
text = '''On a dark desert highway, cool wind in my hair Warm smell of colitas, rising up through the air Up ahead in the distance, I saw a shimmering light My head grew heavy and my sight grew dim I had to stop for the night There she stood in the doorway; I heard the mission bell And I was thinking to myself, "This could be Heaven or this could be Hell" Then she lit up a candle and she showed me the way'''

In [63]:
print(text)

On a dark desert highway, cool wind in my hair Warm smell of colitas, rising up through the air Up ahead in the distance, I saw a shimmering light My head grew heavy and my sight grew dim I had to stop for the night There she stood in the doorway; I heard the mission bell And I was thinking to myself, "This could be Heaven or this could be Hell" Then she lit up a candle and she showed me the way

Basically, any object with an iterable method can be used in a for loop. Even strings, despite not having an iterable method - but we'll not get on to that here. Having an iterable method basically means that the data can be presented in list form, where there are multiple values in an orderly fashion.

In [65]:
for char in '-.,;\n"\'':
    text = text.replace(char,' ')
print(text)

On a dark desert highway  cool wind in my hair Warm smell of colitas  rising up through the air Up ahead in the distance  I saw a shimmering light My head grew heavy and my sight grew dim I had to stop for the night There she stood in the doorway  I heard the mission bell And I was thinking to myself   This could be Heaven or this could be Hell  Then she lit up a candle and she showed me the way

In [9]:
# Split converts string to list.
# Each item in list is split on spaces
text.split(' ')[0:20]

['On',
 'a',
 'dark',
 'desert',
 'highway',
 '',
 'cool',
 'wind',
 'in',
 'my',
 'hair',
 'Warm',
 'smell',
 'of',
 'colitas',
 '',
 'rising',
 'up',
 'through',
 'the']

In [9]:
# Dont want to have non words in my list for example ''
# which in this case are things of zero length
len('')

0

In [66]:
# Making new list with no empty words in it
cleaned_list = []

In [67]:
for word in text.split(' '): 
    word_length = len(word)
    if word_length > 0:
        cleaned_list.append(word)

In [68]:
cleaned_list[0:20]

['On',
 'a',
 'dark',
 'desert',
 'highway',
 'cool',
 'wind',
 'in',
 'my',
 'hair',
 'Warm',
 'smell',
 'of',
 'colitas',
 'rising',
 'up',
 'through',
 'the',
 'air',
 'Up']

### Continue

continue statement will move onto the next iteration of the loop <br>
continue used for ignoring certain values, but not break out of loop

In [69]:
cleaned_list = []

for word in text.split(' '): 
    if word == '':
        continue
    cleaned_list.append(word)
cleaned_list[1:20]

['a',
 'dark',
 'desert',
 'highway',
 'cool',
 'wind',
 'in',
 'my',
 'hair',
 'Warm',
 'smell',
 'of',
 'colitas',
 'rising',
 'up',
 'through',
 'the',
 'air',
 'Up']

### Break

break statement will completely break out of loop

In [71]:
cleaned_list = []

In [72]:
for word in text.split(' '): 
    if word == 'desert':
        print('I found the word I was looking for')
        break
    cleaned_list.append(word)
cleaned_list

I found the word I was looking for

['On', 'a', 'dark']

### Task (Introducing the range function)

1. Write a Python program which iterates through integers from 1 to 50 (using a for loop). For an integer that is even, append it to the list even_numbers. For an integer that is odd, append it the list odd_numbers

In [75]:
# Making empty lists to append even and odd numbers to. 
even_numbers = []
odd_numbers = []

for number in range(1,51):
    if number % 2 == 0:
        even_numbers.append(number)
    else: 
        odd_numbers.append(number)

In [76]:
print("Even Numbers: ", even_numbers)

Even Numbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [77]:
print("Odd Numbers: ", odd_numbers)

Odd Numbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# Enumerate

The enumerate function returns a tuple containing a count for every iteration (from start which defaults to 0) and the values obtained from iterating over a sequence:

In [93]:
friends = ('Steve', 'Rachel', 'Michael', 'Monica')
for index, friend in enumerate(friends):
    print(index,friend)

(0, 'Steve')
(1, 'Rachel')
(2, 'Michael')
(3, 'Monica')

### Task: Generating Fibonacci Sequence in Python

Fibonacci sequence is an integer sequence characterized by the fact that every number after the first two is the sum of the two preceding ones. By definition, the first two numbers in the Fibonacci sequence are either 1 and 1 (<b>which is how I like to code it</b>), or 0 and 1, depending on the chosen starting point of the sequence, and each subsequent number is the sum of the previous two.

In [2]:
print(1, 1, 2, 3, 5, 8, 13, 21, 34, 55)

1 1 2 3 5 8 13 21 34 55

1. Using looping technique, write a Python program which prints out the first 10 Fibonacci numbers

In [24]:
# Note, there are better ways to code this which I will go over in later videos
a,b = 1,1
for i in range(10):
    print("Fib(a): ", a, "b is: ", b)
    a,b = b,a+b

('Fib(a): ', 1, 'b is: ', 1)
('Fib(a): ', 1, 'b is: ', 2)
('Fib(a): ', 2, 'b is: ', 3)
('Fib(a): ', 3, 'b is: ', 5)
('Fib(a): ', 5, 'b is: ', 8)
('Fib(a): ', 8, 'b is: ', 13)
('Fib(a): ', 13, 'b is: ', 21)
('Fib(a): ', 21, 'b is: ', 34)
('Fib(a): ', 34, 'b is: ', 55)
('Fib(a): ', 55, 'b is: ', 89)

# 6. Functions

## Python Functions to Remove Duplicates from List

In [4]:
# Python code to remove duplicate elements from list

def remove_duplicates(duplicate): 
    uniques = [] 
    for num in duplicate: 
        if num not in uniques: 
            uniques.append(num) 
    return(uniques)
      
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(remove_duplicates(duplicate))

[2, 4, 10, 20, 5]

Another thing that is worth mentioning when you’re working with the return statement is the fact that you can use it to return multiple values. To do this, you make use of tuples.